* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*Header-Section*/

.container {
    width: 80%;
    margin: 0 auto;
}

header .main-header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.main-header .logo-section .logo-image img {
    width: 100%;
    padding-top: 10px;
}

.main-header .right-section {
    display: flex;
}

.right-section .navigation-section {
    border-right: 3px solid gray;
    height: 24px;
    margin-top: 5px;
}

.navigation-section ul {
    display: flex;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
}

.navigation-section ul li a {
    text-decoration: none;
    color: black;
    display: block;
    margin-right: 20px;
}

.navigation-section ul li {
    list-style: none;
}

.road-assistance .call-logo {
    display: flex;
    padding-left: 20px;
    font-size: 16px;
}

.call-logo .call-image {
    padding-right: 10px;

}

/* First-Section */
#first-section {
    padding-top: 40px;
}

#first-section .main-section {
    display: flex;
}

#first-section .main-section .left-section {
    width: 45%;
}

#first-section .main-section .left-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/blog-back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#first-section .main-section .left-section .blog-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

#first-section .main-section .left-section .blog-text h1 {
    font-size: 35px;
}

#first-section .main-section .right-section {
    width: 55%;
    background-color: black;
    color: white;
    padding: 60px 30px;
}

#first-section .main-section .right-section .text-section small {
    color: #FF6433;
    line-height: 26px;
    font-size: 16px;
    font-weight: 550;
    letter-spacing: 0.24em;
}

#first-section .main-section .right-section .text-section h3 {
    font-size: 26px;
    padding: 10px 0;
}

#first-section .main-section .right-section .text-section p {
    padding: 5px 0;
    line-height: 23px;
}

#first-section .main-section .right-section .btn {
    padding-top: 20px;
    display: flex;
}

#first-section .main-section .right-section .btn  button {
    padding: 15px 20px;
    color: white;
    border: none;
    border-radius: 8px;
    background-color: #FF6433;
    margin-right: 20px;
}

#first-section .main-section .right-section .btn p {
    padding-top: 20px;
    opacity: 0.8;
    font-size: 15px;
}

/* Second-Section */
#second-section {
    background-color: #F5F5F5;
    padding: 50px 0;
}
#second-section .main-section {
    display: flex;
}

#second-section .main-section .left-section {
    width: 45%;
}

#second-section .main-section .left-section .car-section {
    background-color: white;
    padding: 20px;
}

#second-section .main-section .left-section .car-section img {
    padding-bottom: 10px;
}

#second-section .main-section .left-section .car-section small {
    color: #939191;
    font-size: 14px;
    line-height: 23px;
    opacity: 0.8;
}

#second-section .main-section .left-section .car-section h3 {
    padding: 10px 0;
    font-size: 25px;
}

#second-section .main-section .left-section .car-section .text {
    display: flex;
    padding: 10px 0;
}

#second-section .main-section .left-section .car-section .text p {
    padding-right: 15px;
    line-height: 26px;
}

#second-section .main-section .left-section .car-section .text img {
    padding-top: 5px;
}

#second-section .main-section .right-section {
    width: 50%;
    padding: 0 20px;
}

#second-section .main-section .right-section .blogs {
    padding-bottom: 35px;
    display: flex;
}

#second-section .main-section .right-section .blogs .text {
    padding-left: 20px;
    padding-top: 30px;
}

#second-section .main-section .right-section .blogs .text h4 {
    line-height: 22px;
    padding-bottom: 20px;
}

/* Second-Section */
#third-section {
    padding: 50px 0;
}

#third-section .main-section .cars {
    justify-content: space-between;
    padding-bottom: 30px;
    display: flex;
}

#third-section .main-section .cars img {
    padding-bottom: 15px;
}

#third-section .main-section .cars .text small {
    color: #939191;
    opacity: 0.8;
}

#third-section .main-section .cars .text h4 {
    padding: 12px 0;
    font-size: 25px;
}

#third-section .main-section .cars .text p {
    font-size: 14px;
    line-height: 20px;
}


/* Fourth-Section */

#fourth-section .main-section {
    display: flex;
}

#fourth-section .main-section {
    width: 100%;
}

#fourth-section .main-section .car-section {
    width: 28%;
}

#fourth-section .main-section .car-section img {
    height: 100%;

}

#fourth-section .main-section .text-section {
    width: 32%;
    background-color: orangered;
    color: white;
    padding: 90px 30px;
}

#fourth-section .main-section .text-section p {
    font-size: 26px;
}

#fourth-section .main-section .text-section .btn {
    padding: 40px 0;
}

#fourth-section .main-section .text-section button {
    padding: 15px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}

#fourth-section .main-section .engine-section {
    width: 40%;
}

#fourth-section .main-section .engine-section img {
    width: 100%;
    height: 100%;
}

/* Fifth-Section */

#fifth-section {
    background-color: rgb(20, 20, 20);
    color: white;
    padding: 50px 0;
}

#fifth-section .main-section {
    display: flex;
}

#fifth-section .main-section .left-section {
    width: 45%;
    padding: 10px;
}

#fifth-section .main-section .left-section h2 {
    font-size: 35px;
    padding-bottom: 40px;
}

#fifth-section .main-section .left-section .logos {
    display: flex;
    padding-top: 50px;
}

.main-section .left-section .logos img {
    padding-right: 40px;
    width: 120%;
}

#fifth-section .main-section .right-section {
    width: 45%;
    padding: 10px 0;
    padding-left: 50px;
}

.main-section .right-section .text {
    padding-bottom: 40px;
}

.main-section .right-section .text p {
    line-height: 36px;
}

.main-section .right-section .text small {
    font-size: 17px;
    color: gray;
}

/* Footer */

footer {
    background-color: black;
    padding: 40px 0;
}

footer .main-footer {
    display: flex;
}

footer .main-footer .logo-section {
    width: 20%;
}

footer .main-footer .middle-section {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-footer .middle-section .navigation-section ul li a{
    color: white;
}  

footer .main-footer .last-section {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .main-footer .last-section small {
    color: gray;
}

/* Media-Query */


/* Laptop-View */
@media only screen and (max-width: 1024.99px) {
    header .main-header {
        flex-direction: column;
    }

    .main-header .logo-section .logo-image img {
        width: 20%;
    }

    #second-section .main-section .left-section .car-section h3 {
        font-size: 23px;
    }

    #second-section .main-section .right-section .blogs {
        padding-bottom: 25px;
    }

    #second-section .main-section .right-section .blogs .text h4 {
        padding-bottom: 10px;
    }

    #second-section .main-section .right-section .blogs .text {
        padding-top: 10px;
    }
    
    #third-section .main-section .cars {
        padding-bottom: 90px;
    }

    #third-section .main-section .cars .text h4 {
        font-size: 20px;
    }

    #third-section .main-section .cars .text p {
        font-size: 13px;
        line-height: 18px;
        padding-right: 15px;
    }

    #fourth-section .main-section .car-section img {
        width: 250%;
    }

    #fourth-section .main-section .text-section {
        padding: 30px;
    }

    footer .main-footer .middle-section {
        width: 70%;
    }

    .main-footer .middle-section .navigation-section ul li a {
        font-size: 15px;
        margin-bottom: 5px;
    }

    footer .main-footer .last-section {
        width: 15%;
    }

}

@media only screen and (max-width: 768.99px) {
    .road-assistance .call-logo {
        display: none;
    }

    .right-section .navigation-section {
        border-right: none;
    }

    .navigation-section ul li a {
        font-size: 17px;
    }

    #first-section .main-section {
        flex-direction: column;
    }

    #first-section .main-section .left-section {
        width: 100%;
    }

    #first-section .main-section .right-section {
        width: 100%;
    }

    #second-section .main-section {
        flex-direction: column;
    }

    #second-section .main-section .left-section {
        width: 100%;
    }

    #second-section .main-section .left-section .car-section h3 {
        font-size: 25px;
    }

    #second-section .main-section .right-section {
        width: 100%;
        padding: 0;
    }

    #second-section .main-section .right-section .blogs .text {
        padding-top: 25px;
    }

    #second-section .main-section .right-section .blogs .text h4 {
        font-size: 20px;
    }

    #second-section .main-section .right-section .blogs img {
        width: 20%;
    }

    #third-section .main-section .cars {
        flex-direction: column;
        padding-bottom: 0;
    }

    #third-section .main-section .cars .text small {
        font-size: 20px;
    }

    #third-section .main-section .cars .text h4 {
        font-size: 25px;
    }

    #third-section .main-section .cars .text p {
        padding-bottom: 20px;
        font-size: 16px;
        line-height: 21px;
    }

    #fifth-section .main-section .left-section h2 {
        font-size: 30px;
    }

    .main-section .right-section .text {
        padding-bottom: 20px;
    }

    .main-section .right-section .text p {
        line-height: 30px;
    }

    footer .main-footer {
        flex-direction: column;
    }

    footer .main-footer .middle-section {
        width: 100%;
    }

    .main-footer .middle-section .navigation-section ul li a {
        font-size: 17px;
        padding-top: 5px;
    }

    footer .main-footer .last-section {
        width: 100%;
        padding-top: 15px;
    }

}

@media only screen and (max-width: 425.99px) {
    .main-header .logo-section .logo-image img {
        width: 50%;
    }

    .navigation-section ul {
        flex-direction: column;
    }

    .navigation-section ul li a {
        padding-bottom: 3px;
        margin: 0;
    }

    header .main-header {
        padding-bottom: 70px;
    }

    #first-section .main-section {
        padding-top: 70px;
    }

    #first-section .main-section .left-section {
        height: 250px;
    }

    #first-section .main-section .right-section {
        padding: 30px;
    }

    #first-section .main-section .right-section .text-section h3 {
        font-size: 23px;
    }

    #first-section .main-section .right-section .text-section p {
        font-size: 16px;
    }

    #second-section .main-section .left-section .car-section h3 {
        font-size: 22px;
    }

    #second-section .main-section .right-section .blogs img {
        width: 40%;
    }

    #second-section .main-section .right-section .blogs .text {
        padding-top: 10px;
    }

    #second-section .main-section .right-section .blogs .text h4 {
        font-size: 19px;
    }

    .main-section .right-section .text small {
        font-size: 16px;
    }

    #third-section .main-section .cars .text small {
        font-size: 18px;
    }

    #third-section .main-section .cars .text h4 {
        font-size: 23px;
    }

    #third-section .main-section .cars .text p {
        font-size: 15px;
        line-height: 20px;
    }

    #fourth-section .main-section {
        flex-direction: column;
    }

    #fourth-section .main-section .car-section {
        width: 100%;
        background-color: orangered;
    }

    #fourth-section .main-section .car-section img {
        width: 100%;
    }

    #fourth-section .main-section .text-section {
        width: 100%;
    }

    #fourth-section .main-section .text-section .btn {
        padding-top: 30px;
    }

    #fourth-section .main-section .engine-section {
        width: 100%;
        background-color: black;
    }

    #fifth-section .main-section {
        flex-direction: column;
    }

    #fifth-section .main-section .left-section {
        width: 100%;
        order: 2;
        padding: 0;
        padding-top: 30px;
        border-top: 2px solid gray;
    }

    #fifth-section .main-section .right-section {
        width: 100%;
        order: 1;
        padding: 0;
    }

    footer .main-footer .middle-section {
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 5px;
    }

    .main-footer .middle-section .navigation-section ul li a {
        padding-top: 0;
    }

    footer .main-footer .last-section {
        align-items: flex-start;
        justify-content: flex-start;
    }













}